@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Roboto+Serif:opsz,wght@8..144,700&display=swap');
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Poppins', sans-serif;
}

.navbar-custom {
    background-color: #0EA186;
}

.navbar-toggler-icon {
    background-color: white !important;
}

.navbar-brand {
    width: auto;
    height: 24px;
}

.navbar-custom .navbar-nav .nav-link {
    color: #FFFFFF;
}

.nav-link {
    text-decoration: none;
    font-weight: 600;
    text-align: center;
    margin-left: 18px;
    border-bottom: 3px solid transparent;
}

.nav-link:hover {
    border-bottom: 3px solid white;
}

.active>.nav-link {
    border-bottom: 3px solid white;
}

#adhd-test {
    font-size: 32px !important;
    text-align: center;
    margin-top: 15px;
}

.navbar-nav .login {
    display: flex;
    justify-content: flex-end;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.choice-container {
    display: flex;
    margin-bottom: 0.8rem;
    border-radius: 4px;
    background: #9FD9CF;
    width: 600px;
    height: 70px;
    justify-content: center;
    align-items: center;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 #0EA186;
    transform: scale(1.02);
    transform: transform 100ms;
}

.choice-prefix {
    padding: 2rem 2.5rem;
    color: white;
}

.choice-text {
    width: 100%;
}

#question {
    font-size: 24px;
}


/*Heads up Display*/

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

#progressBar {
    width: 10rem;
    height: 2rem;
    border: 0.2rem solid rgb(11, 223, 36);
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
    margin-bottom: 2rem;
}

#progressBarFull {
    height: 100%;
    background: rgb(11, 223, 36);
    width: 0%;
}

#progressText {
    font-size: 18px;
}

@media screen and (max-width: 768px) {
    .choice-container {
        min-width: 48rem;
    }
}