@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Roboto+Serif:opsz,wght@8..144,700&display=swap');
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Poppins', sans-serif;
}

.navbar-custom {
    background-color: #0EA186;
}

.navbar-toggler-icon {
    background-color: white !important;
}

.navbar-brand {
    width: auto;
    height: 24px;
}

.navbar-custom .navbar-nav .nav-link {
    color: #FFFFFF;
}

.nav-link {
    text-decoration: none;
    font-weight: 600;
    text-align: center;
    margin-left: 18px;
    border-bottom: 3px solid transparent;
}

.nav-link:hover {
    border-bottom: 3px solid white;
}

.active>.nav-link {
    border-bottom: 3px solid white;
}

.navbar-nav .login {
    display: flex;
    justify-content: flex-end;
}